@import "reset";

body,
html {
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	padding: 2rem;
	font-size: 1.5rem;
}

.autocomplete-component {
	position: relative;
	width: fit-content;
}

button {
	position: absolute;
	border-radius: 50%;
	background: none;
	right: 8px;
	top: 28px;
}

input[type="text"] {
	font-size: 1.2rem;
	width: 100%;
}

input::-webkit-calendar-picker-indicator {
	opacity: 0;
}